@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";
body {
  /* background-image: linear-gradient(89.97deg, #002b58 -37.97%, #3b0459 99.97%),
    linear-gradient(180deg, rgba(31, 6, 74, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); */
  font-family: "Poppins", sans-serif;
}

/* .banner {
  background-image: url(../../public/images/banner.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px #2b0d52 inset !important;
  -webkit-text-fill-color: #a4a4a4 !important;
  transition: background-color 5000s ease-in-out 0s;
}

@layer utilities {
  .backdrop-blur-custom {
    backdrop-filter: blur(15.23668384552002px);
  }
}
.border-gradient {
  border: 6px solid;
  border-image-source: linear-gradient(180deg, #501794 0%, #3e70a1 100%);
  border-image-slice: 1;
  border-radius: 100%;
}
@layer utilities {
  .border-gradient-custom {
    border: 3px solid;
    border-image: linear-gradient(180deg, #501794 0%, #3e70a1 100%);
    border-image-slice: 1;
  }
  .border-gradient-shape {
    border: 3px solid;
    border-image: linear-gradient(180deg, #501794 0%, #3e70a1 100%);
    border-image-slice: 1;
  }
  .gradient-border {
    background: linear-gradient(
      to bottom,
      #a855f7,
      #3b82f6
    ); /* purple to blue */
    padding: 3px; /* Border width */
    border-radius: 9999px; /* Full round */
  }
  .center-img {
    align-items: anchor-center;
  }
  .bg-transparent {
    background-color: #151d58 !important;
  }
  .custom-shape {
    clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%);
  }
}
.shadow-inset-custom {
  box-shadow: inset 0px 0px 11.28px 0px #00000029;
}
@media (max-width: 1025px) {
  .custom-gap-margin {
    margin: 0 59px;
  }
  .bg-mob {
    height: 100% !important;
  }
}
@media (max-width: 767px) {
  .left img {
    width: 100%;
  }
  .custom-gap-margin {
    gap: 0px;
    margin: 0 59px;
  }
  .mob-text {
    font-size: 40px;
  }
  .form-sec {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .arrow-circle {
    width: 155px;
  }
  .arrow-circle button {
    width: 100px;
    height: 100px;
  }
  .gap-mob {
    gap: 12px;
  }
}
